<header>
    <div class="navigation">
        <div class="navigation-wrapper container">
        <div class="navigation-right">
            <a class="navigation-button" href="http://51.195.189.57:1024/" target="_blank">
                <p class="navigation-button-text">Map</p>
            </a>
            <a class="navigation-button" routerLink="/">
                <p class="navigation-button-text">Store</p>
            </a>
            <a class="navigation-button" href="https://johnsonslegacy.net/" target="_self">
                <p class="navigation-button-text">Home</p>
            </a>
            <a class="navigation-button" href="https://johnsonslegacy.net/rules" target="_self">
                <p class="navigation-button-text">Rules</p>
            </a>
            <a class="navigation-button" href="https://johnsonslegacy.net/staff" target="_self">
                <p class="navigation-button-text">Staff</p>
            </a>
        </div>
        </div>
    </div>
    <div class="banner">
        <div class="hero">
        <h1 class="banner-header">Johnson’s Legacy</h1>
        <h3 class="banner-description">A community-driven survival realm.</h3>
        <a class="ip-button" id="ip" [ngStyle]="{'background-color': color}" (click)="copyIP()">🌻 {{ ip }}</a>
        </div>
    </div>
</header>
