<div class="row">
    <div class="col-xl-9">
        <h1 class="content-header">Announcements</h1>
        <div class="post">
            <h2 class="title">1.17 + Reopening!</h2>
            <img src="/assets/img/banner.jpg" class="post-banner" alt="Banner">
            <markdown src="https://raw.githubusercontent.com/Alejandro-Sosa/website/main/library/rules.md" class="post-content" ngPreserveWhitespaces></markdown>
        </div>
    </div>
    <div class="col-xl-3 sidebar">
        <app-online-card></app-online-card>
        <app-top-voter-card></app-top-voter-card>
    </div>
</div>
